<%- include('partials/header') %>
<h1 class="text-primary">Welcome to the homepage</h1>

<button><a href="/login">Login</a></button>
<button><a href="/register">Register</a></button>
<%- include('partials/footer') %>