<%- include('partials/header') %>
<h1 class="text-primary">Welcome to the LoginPage</h1>
<% include('partials/messages') %>
<button><a href="/register">New member?</a></button>
<%- include('partials/footer') %>